.info {
  background-color: #ffffff;
}

.info__container {
  min-width: 320px;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
}

.info__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.info__title {
  font-weight: normal;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
}

.info__paragraph {
  font-weight: normal;
  color: #000000;
  margin: 0;
}

.info__timetable {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info__scale {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info__step {
  font-weight: normal;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
}

.info__step_first {
  background-color: #2be080;
}

.info__step_second {
  background-color: #f2f2f2;
}

.info__comments {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.info__comment {
  margin: 0;
  color: #a0a0a0;
  width: 50%;
  box-sizing: border-box;
}

@media all and (min-width: 320px) {
  .info__container {
    padding: 70px 18px 124px;
  }

  .info__content {
    padding: 60px 0 0;
    flex-direction: column;
  }

  .info__item {
    margin-bottom: 62px;
  }

  .info__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .info__paragraph {
    font-size: 11px;
    line-height: 16px;
  }

  .info__step {
    font-size: 11px;
    line-height: 13px;
    height: 35px;
    padding: 11px 10px;
  }

  .info__step_first {
    width: 35%;
  }

  .info__step_second {
    width: 65%;
  }

  .info__comments {
    height: 20px;
  }

  .info__comment {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    padding-left: 26px;
  }
}

@media all and (min-width: 768px) {
  .info__container {
    padding: 90px 50px 93px;
  }

  .info__content {
    padding: 70px 0 0;
    flex-direction: row;
    column-gap: 37px;
  }

  .info__item {
    margin-bottom: 95px;
  }

  .info__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .info__paragraph {
    font-size: 12px;
    line-height: 1.5;
  }

  .info__step {
    height: 36px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 0;
  }

  .info__step_first {
    width: 21%;
  }

  .info__step_second {
    width: 80%;
  }

  .info__comments {
    height: 28px;
  }

  .info__comment {
    font-size: 14px;
    line-height: 1.21;
    padding-left: 38px;
  }
}

@media all and (min-width: 1280px) {
  .info__container {
    padding: 110px 70px 112px;
  }

  .info__content {
    padding: 68px 0 0;
    margin: 2px 0 -2px;
  }

  .info__item {
    margin-bottom: 112px;
  }

  .info__title {
    margin-bottom: 26px;
  }

  .info__paragraph {
    font-size: 14px;
    line-height: 1.43;
    max-width: 550px;
  }

  .info__step {
    padding: 9px 14px;
  }

  .info__comments {
    height: 29px;
  }

  .info__comment {
    padding-left: 82px;
    font-weight: 500;
  }
}
