.elements {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elements__container {
  display: grid;
}

.elements__pagination {
  box-sizing: border-box;
  padding: 90px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elements__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  height: 36px;
  box-sizing: border-box;
  padding: 11px 60px;
  background: #f9f9f9;
  border-radius: 6px;
  border: none;
  outline: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s;
}

.elements__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.elements__caption {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin: 0 30px;
}

.elements__caption_error {
  color: #ee3465;
}

@media all and (min-width: 320px) {
  .elements {
    padding: 50px 0 0;
  }

  .elements__container {
    row-gap: 19px;
    grid-template-columns: 300px;
    grid-auto-rows: 236px;
  }

  .elements__button {
    width: 240px;
  }

  .elements__pagination {
    padding: 79px 0 0;
  }
}

@media all and (min-width: 768px) {
  .elements {
    padding: 68px 0 0;
  }

  .elements__container {
    column-gap: 30px;
    row-gap: 36px;
    grid-template-columns: repeat(2, 339px);
    grid-auto-rows: 258px;
  }

  .elements__button {
    width: 320px;
  }

  .elements__pagination {
    padding: 76px 0 0;
  }
}

@media all and (min-width: 1280px) {
  .elements__container {
    column-gap: 20px;
    row-gap: 32px;
    grid-template-columns: repeat(4, 270px);
    grid-auto-rows: 218px;
  }

  .elements {
    padding: 38px 0 0;
  }
}
