.article {
  width: 100%;
  background: #fdfdfd;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.article__header {
  height: 68px;
  box-sizing: border-box;
  padding: 14px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0 0 9px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.article__subtitle {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  /*margin: 0;*/
}

.article__icon-block {
  position: relative;
  cursor: pointer;
  top: -16px;
  /* right: 12px; */
  width: 16px;
  height: 16px;
  background-color: #f9f9f9;
  transition: opacity, background-color .1s ease-in-out .1s;
  border-radius: 10px;
  /* border: 2px #ffffff solid; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.article__icon-block_active {
  background-color: #2be080;
  border: 2px #ffffff solid;
  position: relative;
  cursor: pointer;
  top: -16px;
  /* right: 12px; */
  width: 14px;
  height: 14px;
  transition: opacity, background-color .1s ease-in-out .1s;
  border-radius: 10px;
  /* border: 2px #ffffff solid; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.article__icon-block:hover {
  cursor: pointer;
  opacity: 0.7;
}

.article__icon {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
}

.article__image {
  width: 100%;
  height: calc(100% - 67px);
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media all and (min-width: 320px) {
  .article__title {
    max-width: 230px;
  }
}

@media all and (min-width: 768px) {
  .article__title {
    max-width: 270px;

  }
}

@media all and (min-width: 1280px) {
  .article__title {
    max-width: 206px;
  }
}
