.promo {
  background-color: #5C5C5C;
}

.promo__container {
  min-width: 320px;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.promo__title {
  font-weight: normal;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
}

.promo__logo {
  position: absolute;
}

@media all and (min-width: 320px) {
  .promo__container {
    height: 570px;
    padding: 207px 10px 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    width: 300px;
    text-align: center;
    letter-spacing: -0.04em;
  }

  .promo__logo {
    width: 248px;
    height: 248px;
    bottom: 180px;
    right: 36px;
  }
}

@media all and (min-width: 768px) {
  .promo__container {
    height: 784px;
    padding: 326px 18px 70px;
  }

  .promo__title {
    font-size: 50px;
    line-height: 58px;
    width: 730px;
  }

  .promo__logo {
    width: 320px;
    height: 320px;
    bottom: 240px;
    right: 224px;
  }
}

@media all and (min-width: 1280px) {
  .promo__container {
    height: 524px;
    padding: 185px 275px;
  }

  .promo__title {
    width: 730px;
    text-align: center;
  }

  .promo__logo {
    right: 480px;
    bottom: 122px;
  }
}
